/* This is a CSS file */
.box1 {
  font-size: 5rem;
  font-weight: 700;
  height: 18vh;
border: 1px solid #ff4500;
text-align:center;
color: rgb(255, 253, 144);
text-shadow:0 0.03em 0.03em #FFAB91,
		0 0.03em 0.03em rgb(240, 16, 0),
		0 0.03em 0.03em #FBE9E7;
}
.box2 {
  font-size: 5rem;
  font-weight: 700;
  height: 18vh;
border: 1px solid rgb(229, 255, 0);
text-align:center;
color: rgb(144, 255, 255);
text-shadow:0 0.03em 0.03em #FFAB91,
		0 0.03em 0.03em rgb(240, 16, 0),
		0 0.03em 0.03em #FBE9E7;
}
